.mercari_sign_up_container2
  .header
    .header__logo
      = link_to "/" do
        %img{src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3791839826"}/
    .header__progress
      %ul.header__progress__bars
        %li.header__progress__bars__text1
          会員情報
        %li.header__progress__bars__text2
          電話番号認証
        %li.header__progress__bars__text3
          お届け先住所入力
        %li.header__progress__bars__text4
          支払い方法
        %li.header__progress__bars__text5
          完了
      %ul.header__progress__bar
        %li.header__progress__bar__point1
          ●
        %li.header__progress__bar__point2
          ●
        %li.header__progress__bar__point3
          ●
        %li.header__progress__bar__point4
          ●
        %li.header__progress__bar__point5
          ●
      %ul.header__progress__line
        %li.header__progress__line__bar1
        %li.header__progress__line__bar2
        %li.header__progress__line__bar3
        %li.header__progress__line__bar4
        %li.header__progress__line__bar5
  .main
    .main__section
      .main__section__top
        会員情報入力
    .main__conect
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = render "devise/shared/error_messages", resource: resource
        .main__conect__lists
          = f.label :"ニックネーム"
          .main__conect__lists__text
            必須
          %br/
          = f.text_field :nickname,class:'input_box',placeholder:'例）ジェイソンスティサム'
        .main__conect__lists
          = f.label :"メールアドレス"
          .main__conect__lists__text
            必須
          %br/
          = f.email_field :email, autocomplete: "email", class:'input_box',placeholder:'PC・携帯どちらでも可'
        .main__conect__lists
          = f.label :"パスワード"
          .main__conect__lists__text
            必須
          %br/
          = f.password_field :password, autocomplete: "new-password", class:'input_box',placeholder:'７文字以上'
        .main__conect__lists
          = f.label :"パスワード確認"
          .main__conect__lists__text
            必須
          %br/
          = f.password_field :password_confirmation, autocomplete: "new-password", class:'input_box',placeholder:'７文字以上'
        .main__conect__lists
          .main__conect__lists__reCAPTCHA
        .main__conect__lists__next
          「次へ進む」のボタンを押すことにより利用規約に同意したものとみなします
        .actions
          .actions__btn
            = f.submit "次へ進む", class: "submit_btn"
          .actions__link
            = link_to '本人情報の登録について', 'sms_message', class:'next_link'
  .footer
    %ul.footer__nav
      %li
        = link_to 'プライバシーポリシー'
      %li
        = link_to 'メルカリ利用規約'
      %li
        = link_to '特定商取引に関する規約'
    .footer__logo
      = link_to '/' do
        .footer__logo__image
          %img{src: "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?3791839826"}/
      %p.footer__logo__text
        © 2019 Mercari