=render 'layouts/header'
-# - breadcrumb :things
-# = render "layouts/breadcrumbs"
.mypage
  .mypage__nav
    = render 'layouts/mypage-sidebar'
    .mypage__nav__main-contents
      .mypage__nav__main-contents__listings
        %ul.mypage__nav__main-contents__listings__tabs
          %li.mypage__nav__main-contents__listings__tabs__tab.active.trad
            %p やることリスト（購入）
          %li.mypage__nav__main-contents__listings__tabs__tab.trad
            = link_to things_user_path do
              %p やることリスト（出品）
        .mypage__nav__main-contents__bottom-tabcontents
        -if @item_trading.empty?
          %ul.mypage__nav__main-contents__bottom-tabcontents__item-lists
            %li.mypage__nav__main-contents__bottom-tabcontents__item-lists__list.show
              やることがありません
        -else
          %ul.mypage__nav__main-contents__bottom-tabcontents__listing-lists
          - @item_purchase.zip(@hash_buyer).each do |item, hash|
            = link_to item_path(item) do
              %li.mypage__nav__main-contents__bottom-tabcontents__listing-lists__list.new
                = image_tag url_for(item.images.first), heigth: '50', width: '50', class: "item-image"
                .item-name
                  = "#{@users[hash].nickname}さんから「#{item.name}」を購入しました。発送までお待ちください。"
                %span.item-stutas
                  発送待ち
                %i.fas.fa-angle-right


= render "layouts/banner"
= render "layouts/footer"