=render 'layouts/header'
- breadcrumb :item_message
= render "layouts/breadcrumbs"
.mypage
  .mypage__nav
    = render 'layouts/mypage-sidebar'
    .mypage__nav__main-contents
      .mypage__nav__main-contents__user-icon
        = link_to "/" do
          = image_tag  url_for(current_user.avatar), height: '60', width: '60', class: 'mypage__nav__main-contents__user-icon__image'
          %h2.mypage__nav__main-contents__user-icon__name 
            = current_user.nickname
          .mypage__nav__main-contents__user-icon__number
      .mypage__nav__main-contents__tab-container
        %ul.mypage__nav__main-contents__tab-container__tabs
          %li.mypage__nav__main-contents__tab-container__tabs__tab.active 
            %p お知らせ
          %li.mypage__nav__main-contents__tab-container__tabs__tab
            %p やることリスト
      .mypage__nav__main-contents__tab-contents
        %ul.mypage__nav__main-contents__tab-contents__item-lists
          %li.mypage__nav__main-contents__tab-contents__item-lists__list.show 現在、やることリストはありません
          %li.mypage__nav__main-contents__tab-contents__item-lists__list 現在、お知らせはありません
      .mypage__nav__main-contents__bottom-container
        //=render 'layouts/comment'
= render "layouts/banner"
= render "layouts/footer"