=render 'layouts/header'
- breadcrumb :listing
= render "layouts/breadcrumbs"
.mypage
  .mypage__nav
    = render 'layouts/mypage-sidebar'
    .mypage__nav__main-contents
      .mypage__nav__main-contents__listings
        %h3.mypage__nav__main-contents__listings__tab-head 出品した商品
        %ul.mypage__nav__main-contents__listings__tabs
          %li.mypage__nav__main-contents__listings__tabs__tab.active
            %p 出品中
          %li.mypage__nav__main-contents__listings__tabs__tab
            = link_to trading_user_path(current_user) do
              %p 取引中
          %li.mypage__nav__main-contents__listings__tabs__tab
            = link_to completed_user_path(current_user) do
              %p 売却済み
        .mypage__nav__main-contents__bottom-tabcontents
        -if @item_seller.empty?
          %ul.mypage__nav__main-contents__bottom-tabcontents__item-lists
            %li.mypage__nav__main-contents__bottom-tabcontents__item-lists__list.show
              出品中の商品がありません
        -else
          %ul.mypage__nav__main-contents__bottom-tabcontents__listing-lists
          - @item_seller.each do |item|
            = link_to item_path(item) do
              %li.mypage__nav__main-contents__bottom-tabcontents__listing-lists__list.new
                = image_tag url_for(item.images.first), heigth: '50', width: '50', class: "item-image"
                .item-name
                  = "「#{item.name}」"
                %span.item-stutas
                  出品中
                %i.fas.fa-angle-right
= render "layouts/banner"
= render "layouts/footer"