=render 'layouts/header'
- breadcrumb :purchase
= render "layouts/breadcrumbs"
.mypage
  .mypage__nav
    = render 'layouts/mypage-sidebar'
    .mypage__nav__main-contents
      .mypage__nav__main-contents__listings
        %h3.mypage__nav__main-contents__listings__tab-head 購入した商品
        %ul.mypage__nav__main-contents__listings__tabs
          %li.mypage__nav__main-contents__listings__tabs__tab.active.trad
            %p 取引中
          %li.mypage__nav__main-contents__listings__tabs__tab.trad
            = link_to purchased_user_path(current_user) do
              %p 過去の取引
        .mypage__nav__main-contents__bottom-tabcontents
        -if @item_buyer.empty?
          %ul.mypage__nav__main-contents__bottom-tabcontents__item-lists
            %li.mypage__nav__main-contents__bottom-tabcontents__item-lists__list.show
              購入した商品がありません
        -else
          %ul.mypage__nav__main-contents__bottom-tabcontents__listing-lists
          - @item_buyer.each do |item|
            = link_to item_path(item) do
              %li.mypage__nav__main-contents__bottom-tabcontents__listing-lists__list.new
                = image_tag url_for(item.images.first), heigth: '50', width: '50', class: "item-image"
                .item-name
                  = "「#{item.name}」を購入しました"
                %span.item-stutas
                  発送待ち
                %i.fas.fa-angle-right
= render "layouts/banner"
= render "layouts/footer"