=render 'layouts/header'
- breadcrumb :mypage
= render "layouts/breadcrumbs"
.mypage
  .mypage__nav
    = render 'layouts/mypage-sidebar'
    .mypage__nav__main-contents
      .mypage__nav__main-contents__user-icon
        = link_to "/" do
          = image_tag avatar(current_user), height: '60', width: '60', class: 'mypage__nav__main-contents__user-icon__image'
          %h2.mypage__nav__main-contents__user-icon__name 
            = current_user.nickname
          .mypage__nav__main-contents__user-icon__number
            %div
              評価
              %span.mypage__nav__main-contents__user-icon__number__bold 
                = rating_count(current_user)
            %div
              出品数
              %span.mypage__nav__main-contents__user-icon__number__bold
                = item_count(current_user)
      .mypage__nav__main-contents__tab-container
        %ul.mypage__nav__main-contents__tab-container__tabs
          %li.mypage__nav__main-contents__tab-container__tabs__tab.active 
            %p 新着お知らせ
          %li.mypage__nav__main-contents__tab-container__tabs__tab
            %p 過去のお知らせ
      .mypage__nav__main-contents__tab-contents
        %ul.mypage__nav__main-contents__tab-contents__item-lists
          %li.mypage__nav__main-contents__tab-contents__item-lists__list.show
            .notification
              -if @notifications.exists?
                = render @notifications
                = link_to '確認済みにする',notifications_none_notifications_path,class:"notifications_none"
              -else
                .notification__message
                  通知はまだありません
          %li.mypage__nav__main-contents__tab-contents__item-lists__list{style:"padding-bottom:120px;"}
            .notification
              -if @notifications_true.exists?
                = render @notifications_true
              -else
                .notification__message
                  通知はまだありません
      .mypage__nav__main-contents__bottom-container
        %h3.mypage__nav__main-contents__bottom-container__tab-head 購入した商品
        %ul.mypage__nav__main-contents__bottom-container__tabs
          %li.mypage__nav__main-contents__bottom-container__tabs__tab.active 
            %p 取引中
          %li.mypage__nav__main-contents__bottom-container__tabs__tab
            %p 過去の取引
      .mypage__nav__main-contents__bottom-tabcontents
      -if @item_buyer.empty?
        %ul.mypage__nav__main-contents__bottom-tabcontents__item-lists
          %li.mypage__nav__main-contents__bottom-tabcontents__item-lists__list.show
            購入した商品がありません
          %li.mypage__nav__main-contents__bottom-tabcontents__item-lists__list 過去の取引はありません
      -else
        %ul.mypage__nav__main-contents__bottom-tabcontents__listing-lists
        - @item_buyer.each do |item|
          = link_to item_path(item) do
            %li.mypage__nav__main-contents__bottom-tabcontents__listing-lists__list.new
              = image_tag url_for(item.images.first), heigth: '50', width: '50', class: "item-image"
              .item-name
                = "「#{item.name}」を購入しました"
              %span.item-stutas
                取引中
              %i.fas.fa-angle-right
= render "layouts/banner"
= render "layouts/footer"


