.mercari_sign_up_container
  = render 'layouts/header-logo'
  .main
    .main__section
      .main__section__top
        新規会員登録
    .main__conect
      %ul.main__conect__lists
        %li.main__conect__lists__mail
          = link_to 'sign_up' do
            .main__conect__lists__mail__btn
              メールアドレスで登録する
            %i.far.fa-envelope
        %li.main__conect__lists__facebook
          = link_to user_facebook_omniauth_authorize_path, method: :post do
            .main__conect__lists__facebook__btn
              Facebookで登録する
              %i.fab.fa-facebook-square
        %li.main__conect__lists__google
          = link_to user_google_oauth2_omniauth_authorize_path, method: :post do
            .main__conect__lists__google__btn
              Googleで登録する
            .main__conect__lists__google__icon
  = render 'layouts/footer-registrations'
  - if user_signed_in?
    = current_user.nickname
    = link_to "Logout", destroy_user_session_path, method: :delete
  - else