%section.item-details

  %h1.item-details__name 
    = "#{@item.name}"
  .item-details__main
    .item-details__photo
      .item-details__photo__main
        .item-details__photo__main__outer
          .item-details__photo__main__outer__stage{style: "left: 0px; width: 1500px;"}
            .item-details__photo__main__outer__stage__item{style: "width: 300px;"}
              .item-details__photo__main__outer__stage__item__inner
                = image_tag @item.images.first , class: 'item-details-outer-image'
                - if @item.buyer_id.presence
                  .sold
                    %p SOLD
        = render 'layouts/show-image-hover'
    %table.item-details__main__table
      %tbody
        %tr
          %th 出品者
          %td
            =link_to @user.nickname
            %div
              .item-details__main__table__ratings
                %i.fas.fa-laugh
                %span 100
              .item-details__main__table__ratings
                %i.fas.fa-meh
                %span 10
              .item-details__main__table__ratings
                %i.fas.fa-frown-open
                %span 0
        %tr
          %th カテゴリー
          %td
            =link_to "/" do
              = @category1.name
            =link_to "/" do
              %div.item-details__main__table__category__sub
                %i.fas.fa-angle-right
                  = @category2.name
            =link_to "/" do
              %div.item-details__main__table__category__sub__sub
                %i.fas.fa-angle-right
                  = @category3.name
        %tr
          %th ブランド
          %td
            = "#{@item.brand_name}"
        %tr
          %th 商品のサイズ
          %td
            = "#{@item.size}"
        %tr
          %th 商品の状態
          %td 
            = "#{@item.status}"
        %tr
          %th 配送料の負担
          %td
            = "#{@delivary.price}"
        %tr
          %th 配送の方法
          %td
            = "#{@delivary.delivary_method}"
        %tr
          %th 配送元地域
          %td
            =link_to "#{@delivary.area}", "/"
        %tr
          %th 発送日の目安
          %td
            = "#{@delivary.delivary_day}"

  .item-details__price-box
    %span.item-details__price-box__price
      = "¥#{@item.price}"
    %span.item-details__price-box__tax (税込)
    %span.item-details__price-box__fee 送料込み
  -if user_signed_in?
    -if @item.seller_id != current_user.id && @item.buyer_id.nil?
      =link_to "購入画面に進む", card_path(@item), id:"item-details-buy-btn"
    -elsif @item.buyer_id.presence
      %p.item-details-buy-btn-gray
        売り切れました
  .item-details__description
    %p.item-details__description__inner
      = "#{@item.text}"



  -if user_signed_in?
    -if @item.seller_id != current_user.id
      .item-details__buttons
        .item-details__buttons__left
          - if current_user.likes.find_by(item_id: @item.id)
            = link_to unlike_path(@item.id), method: :delete, remote: true, class: "item-details__buttons__left__likes", id: "like-link-#{@item.id}"  do
              %i.fas.fa-heart.heart-like
              %p いいね!
              %P 
                = "#{@item.likes.count}"
          - else
            = link_to like_path(@item.id), method: :post, remote: true, class: "item-details__buttons__left__unlikes", id: "like-link-#{@item.id}"  do
              %i.fas.fa-heart.heart-unlike
                いいね!
                = "#{@item.likes.count}"
          =link_to "/",{id:"item-details-buttons-left-report"} do
            %i.far.fa-flag
            %span 不適切な商品の報告
        .item-details__buttons__right
          =link_to "/" do
            %i.fas.fa-lock
            %span あんしん・あんぜんへの取り組み  