= render 'layouts/header'
.search-container-page
  .search-container
    .search-container__left
      .search-container__left__search-content
        .search-container__left__search-content__text
          %i.fas.fa-search キーワードで並び替え
        %input.search-container__left__search-content__keyword.search__query{name:"keyword", placeholder:"#{@items_search.name}"}
        .search-container__left__search-content__content
          %text 詳細検索
          %ul.search-container__left__search-content__content__search-box
            = search_form_for @q,url: items_path do |f|
              %li.select-wrap
                = f.select( :sorts, { '並び替え': 'id desc', '価格の安い順': 'price asc', '価格の高い順': 'price desc', '出品の古い順': 'updated_at asc', '出品の新しい順': 'updated_at desc' } , { selected: params[:q]}, { onchange: 'this.form.submit()'} )
                %i.fas.fa-angle-down
              %li.search-category
                %i.fas.fa-list-ul
                = f.label :category_id,"アイテムから探す"
                = f.select :category_id_eq, @categories33.map{|o| [o.name, o.id]},include_blank: "---"
                %i.fas.fas1.fa-angle-down
              %li.search-brand
                %i.fas.fa-tags
                = f.label :brand_name_cont, "ブランド名から探す"
                = f.search_field :brand_name_cont,class:"brand_field",placeholder:"例）シャネル"
              %li.search-size
                %i.fas.fa-tshirt
                = f.label :size_eq,"サイズを指定する"
                = f.select :size_eq, [['すべて', ""],['XSサイズ','XSサイズ'],['Sサイズ','Sサイズ'],['Mサイズ','Mサイズ'],['Lサイズ','Lサイズ'],['LLサイズ','LLサイズ'],['XLサイズ','XLサイズ']]
                %i.fas.fas1.fa-angle-down
              %li.search-text
                %i.fas.fa-comment-alt
                = f.label :text_cont, "商品説明から探す"
                = f.search_field :text_cont,class:"text_field",placeholder:"例）値下げ"
              %li.search-price
                %i.fas.fa-dollar-sign
                = f.label :price, "価格",class:"price_text"
                = f.search_field :price_gt,placeholder:"$Min",class:"min"
                %h2 ~
                = f.search_field :price_lt,placeholder:"$Max",class:"max"
              %ul.search-status
                %i.fas.fa-star
                = f.label :status,"商品の状態"
                %br/
                %li
                  = f.check_box :status_eq_any, { class:"check_box",multiple: true }, "新品、未使用", ''
                  = f.label :status_eq_any, "新品、未使用",class:"search-label"
                %li
                  = f.check_box :status_eq_any, { class:"check_box",multiple: true }, "未使用に近い", ''
                  = f.label :status_eq_any, "未使用に近い",class:"search-label"
                %li  
                  = f.check_box :status_eq_any, { class:"check_box",multiple: true }, "目立った傷や汚れなし", ''
                  = f.label :status_eq_any, "目立った傷や汚れなし",class:"search-label"
                %li
                  = f.check_box :status_eq_any, { class:"check_box",multiple: true }, "やや傷や汚れあり", ''
                  = f.label :status_eq_any, "やや傷や汚れあり",class:"search-label"
                %li
                  = f.check_box :status_eq_any, { class:"check_box",multiple: true }, "全体的に状態が悪い", ''
                  = f.label :status_eq_any, "傷や汚れあり",class:"search-label"
                %li
                  = f.check_box :status_eq_any, { class:"check_box",multiple: true }, "全体的に状態が悪い", ''
                  = f.label :status_eq_any, "全体的に状態が悪い",class:"search-label"
                %ul.search-delivary
                  %i.fas.fa-truck
                  = f.label :delivary_price,'配送方法'
                  %br/
                  %li
                    = f.check_box :delivary_price_eq_any, {class:"check_box",multiple: true}, "送料込み(出品者負担)", ''
                    = f.label :delivary_price_eq, "送料込み(出品者負担)",class:"search-label"
                  %li
                    = f.check_box :delivary_price_eq_any, {class:"check_box",multiple: true}, "着払い(購入者負担)", ''
                    = f.label :delivary_price_eq, "着払い(購入者負担)",class:"search-label"
              = f.submit '完了',class:"submit-btn"
              = link_to 'クリア',request.path,class:"request-btn"
    .search-container__right
      .search-container__right__contents
        .search-container__right__contents__title
          %i.fas.fa-search 検索結果
          .search-container__right__contents__title__count
            = "#{@items_count}件の検索結果"
        .search-container__right__contents__count
          = "1-#{@items_search.count}件表示"
        .search-container__right__contents__title__box.js-lazy-load-images
        .search-container__right__contents__title__box
          -if @items_search.any?
            - @items_search.each do |i|
              .search-container__right__contents__title__box__item
                = link_to item_path(i) do
                  .search-container__right__contents__title__box__item__image
                    = image_tag url_for(i.images.first),class: 'item-image'
                  .search-container__right__contents__title__box__item__text
                    .search-container__right__contents__title__box__item__text__name
                      = i.name
                    .search-container__right__contents__title__box__item__text__price
                      = "$#{i.price}"
                    .search-container__right__contents__title__box__item__text__icon
                      %i.far.fa-heart
                        %span 3
          -if @items_search.nil?
            .search-container__right__contents__title__box__item
              .search-container__right__contents__title__box__item__image
              .search-container__right__contents__title__box__item__text
                
        .search-container__right__contents__title__page
          = paginate(@items_search)
= render 'layouts/banner'
= render 'layouts/footer'