.item-details-container
  =render 'layouts/header'
  =render 'item_details'
  =render 'layouts/comment'
  %ul.item-details-nav-link
    %li.item-details-nav-link__prev
      =link_to "/" do
        %i.fas.fa-angle-left
        next
    %li.item-details-nav-link__next
      =link_to "/" do
        back
        %i.fas.fa-angle-right

  .item-details-media
    .item-details-media__text
    %ul.item-details-media__box
      %li
        =link_to "/", class:"share-btn" do
          %i.fab.fa-facebook-square
      %li
        =link_to "/", class:"share-btn" do
          %i.fab.fa-twitter-square
      %li
        =link_to "/", class:"share-btn" do
          %i.fab.fa-pinterest-square

  .items-details-profile
    %section.items-details-profile__user
      %h2.items-details-profile__user__head
        =link_to "#{@user.nickname}のその他の出品","/" 
      - @user_item.reverse_each do |item|
        .items-details-profile__user__content
          %section.items-details-profile__user__content__box
            =link_to "/" do
              %figure.items-details-profile__user__content__box__photo
                =image_tag item.images.first, id:"items-details-lazyloaded"
              .items-details-profile__user__content__box__body
                %h3.items-details-profile__user__content__box__body__name
                  = item.name 
                .items-details-profile__user__content__box__body__num
                  .items-details-profile__user__content__box__body__num__price
                    = "¥#{item.price}"
  .items-details-profile
    %section.items-details-profile__user
      %h2.items-details-profile__user__head
        =link_to "#{@user.nickname}のその他の出品","/" 
      - @user_item.each do |item|
        .items-details-profile__user__content
          %section.items-details-profile__user__content__box
            =link_to "/" do
              %figure.items-details-profile__user__content__box__photo
                =image_tag item.images.first, id:"items-details-lazyloaded"
              .items-details-profile__user__content__box__body
                %h3.items-details-profile__user__content__box__body__name
                  = item.name 
                .items-details-profile__user__content__box__body__num
                  .items-details-profile__user__content__box__body__num__price
                    = "¥#{item.price}"
.banner
  = render "layouts/banner"
.footer
  = render "layouts/footer"
  = render "layouts/post-btn"