%li.drop-mypage
  =link_to user_path(current_user) do
    = image_tag  url_for(current_user.avatar)
    %span
      マイページ
    %ul.drop-mypage-list
      %li.drop-icon
        = link_to "/" do
          = image_tag url_for(current_user.avatar), height: '60', width: '60', class: 'drop-icon'
      %li.drop-name
        = current_user.nickname
        .drop-text
          %p
            評価: 0
          %p
            出品数: 
            = item_count(current_user)
      %li.drop-list
        = link_to"/" do 
          出品した商品 - 出品中
          %i.fa.fa-chevron-right
      %li.drop-list
        = link_to"/" do 
          出品した商品 - 取引中
          %i.fa.fa-chevron-right
      %li.drop-list
        = link_to"/" do 
          出品した商品 - 売却済み
          %i.fa.fa-chevron-right
      %li.drop-list
        = link_to"/" do 
          購入した商品 - 取引中
          %i.fa.fa-chevron-right
      %li.drop-list
        = link_to"/" do 
          購入した商品 - 過去の取引
          %i.fa.fa-chevron-right